<h1>{{ display_name }}</h1>
<table>
  <tr>
    <th>STR</th>
    <th>{{ strength }} + {{ strength_gain }}</th>
  </tr>
  <tr>
    <th>AGI</th>
    <th>{{ agility }} + {{ agility_gain }}</th>
  </tr>
  <tr>
    <th>INT</th>
    <th>{{ intelligence }} + {{ intelligence_gain }}</th>
  </tr>
</table>
<!--
<table>
  <thead>
    <tr>
      <th>Lv</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>体力</th>
      <th>{{ health }}</th>
    </tr>
    <tr>
      <th>マナ</th>
      <th>{{ mana }}</th>
    </tr>
  </tbody>
</table>
-->